<section class="section">
    <div class="container">
        <div class="image-container">
            <div class="image">
                <img src="/images/gear.PNG">
            </div>
            <div class="image">
                <img src="/images/wave.png">
            </div>
            <div class="image">
                <img src="/images/clyfford.png">
            </div>
            <div class="image">
                <img src="/images/colorized-lines.png">
            </div>
        </div>
    </div>
    </div>
</section>